.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.inputField {
  margin-bottom: 10px;
  padding: 10px;
  width: 250px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}

.checkboxLabel {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.checkboxLabel input {
  margin-right: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
  width: 250px;
}

.listItem {
  background-color: #f9f9f9;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.buttonContainer {
  display: flex;
  gap: 10px; /* Adds space between buttons */
  margin-bottom: 10px;
}